asgiref==3.8.1
distlib==0.3.9
Django==5.1.7
django-cleanup==9.0.0
filelock==3.18.0
pillow==11.1.0
platformdirs==4.3.8
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
virtualenv==20.31.2
virtualenvwrapper-win==1.2.7
